[user]
	name = yuxqiu
	email = yuxqiu@proton.me
	signingkey = ~/.ssh/id_ed25519_proton.pub
[core]
	excludesfile = ~/.gitignore_global
[commit]
	gpgsign = true
[gpg]
	format = ssh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[alias]
	graph = log --all --graph --decorate --oneline
	rank = shortlog -s -n --no-merges
	fame = !python -m gitfame
	info = !onefetch
    dft = "!f() { GIT_EXTERNAL_DIFF=difft git diff $@; }; f"
    uncommit = !git reset --soft HEAD^ && git restore --staged .
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[push]
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[help]
    autocorrect = prompt
[commit]
    verbose = true
