[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = yuxqiu
	email = yuxqiu@proton.me
	signingkey = ~/.ssh/id_ed25519_proton.pub
[core]
	excludesfile = ~/.gitignore_global
[commit]
	gpgsign = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
[alias]
	graph = log --all --graph --decorate --oneline
	rank = shortlog -s -n --no-merges
	fame = !python -m gitfame
	info = !onefetch
    dft = "!f() { GIT_EXTERNAL_DIFF=difft git diff $@; }; f"
