[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Yuxiang Qiu
	email = yuxqiu@proton.me
	signingkey = ~/.ssh/id_ed25519_proton.pub
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.gitmessage
	gpgsign = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
[alias]
	graph = log --all --graph --decorate --oneline
	rank = shortlog -s -n --no-merges
	fame = !python -m gitfame
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
