// Global blur settings
blur {
    passes 3
    offset 3
    noise 0.02
    saturation 1.5
}

// Make float to play well with focus-ring and border
// - This is needed because focus-ring and border by default
//   are rendered as a solid background rectangle behind windows.
window-rule {
    draw-border-with-background false
}

// Make floating windows use the regular blur (if enabled),
// while tiled windows keep using the efficient xray blur.
window-rule {
    match is-floating=true
    background-effect {
        xray false
    }
}

layer-rule {
    match layer="top"
    match layer="overlay"

    background-effect {
        xray false
    }
}

// Force enable blur for these apps
window-rule {
    match app-id="ssh-askpass"
    match app-id="opensnitch_ui"

    background-effect {
        blur true
    }
    opacity 0.6
}
