config-notification {
    disable-failed
}

// an ugly workaround to fix tray icon
// the env var will affect apps launched by dms
spawn-sh-at-startup "QT_QPA_PLATFORMTHEME=gtk3 dms run"

binds {
    Ctrl+Space hotkey-overlay-title="Application Launcher" {
      spawn "dms" "ipc" "call" "spotlight" "toggle";
    }

    Alt+V hotkey-overlay-title="Clipboard Manager" {
      spawn "dms" "ipc" "call" "clipboard" "toggle";
    }

    Ctrl+Alt+L hotkey-overlay-title="Lock Screen" {
      spawn "dms" "ipc" "call" "lock" "lock";
    }

    XF86AudioRaiseVolume allow-when-locked=true {
      spawn "dms" "ipc" "call" "audio" "increment" "5";
    }

    XF86AudioLowerVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "decrement" "5";
    }

    XF86AudioMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "mute";
    }

    XF86AudioMicMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "micmute";
    }

    XF86MonBrightnessUp allow-when-locked=true {
        spawn-sh "dms ipc call brightness increment 5 \"$(dms-focused-output)\"";
    }

    XF86MonBrightnessDown allow-when-locked=true {
        spawn-sh "dms ipc call brightness decrement 5 \"$(dms-focused-output)\"";
    }
}
