.monaco-editor .scroll-decoration {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .75) !important;
    top: -6px !important;
}

.part.sidebar {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .25);
}

/* sidebar top shadow */
.monaco-scrollable-element>.shadow.top {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .75) !important;
    top: -3px !important;
}

/* sidebar title */
.composite.title {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-items: center !important;
}

.composite.title h2 {
    font-weight: bold !important;
    font-size: 12px !important;
    text-transform: uppercase;
}

/* scroll bars */
.scrollbar.vertical .slider {
    position: absolute !important;
    right: 5px !important;
    width: 4px !important;
    background: #343a51 !important;
    left: auto !important;
    border-radius: 3px;
}

.scrollbar.horizontal .slider {
    position: absolute !important;
    bottom: 5px !important;
    height: 4px !important;
    background: #343a51 !important;
    top: auto !important;
    border-radius: 3px;
}

/* hide scrollbar marks  */
.decorationsOverviewRuler {
    display: none !important;
}

.codicon-toolbar-more,
.codicon-word-wrap {
    display: block !important;
}

/* central command palette */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    z-index: 100;
    border: solid 2px #ffffff2d !important;
    border-radius: 6px !important;
    box-shadow: none !important;
}

.watermark-box {
    display: none !important;
}

/* tooltip rounded corner */
.monaco-editor-hover,
.monaco-hover {
    border-radius: 6px !important;
}

/* hide title bar search icon */
.search-icon {
    display: none !important;
}

.codicon-search::before {
    display: none !important;
}

.codicon-arrow-right,
.codicon-arrow-left {
    display: none !important;
}

.titlebar-right>* {
    display: none !important;
}

/* https://github.com/be5invis/vscode-custom-css/discussions/197 */
/* make hovered non-active tabs' backgrounds get slightly lighter on hover. */

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab:hover,
.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab:hover {
    background-color: rgba(255, 255, 255, 0.04) !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab:first-child {
    border-top-left-radius: 0;
}

/* actually make the selected tab's background different than others. */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active {
    background-color: rgba(255, 255, 255, 0.06) !important;
}

/* make hovered active tab's background get slightly lighter on hover. */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active:hover,
.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab.active:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* ensure that a selected tab's bottom-border stays the same color when we hover
 * on it (it was going from yellow accent color to gray, super ugly).
 */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-bottom>.tab-border-bottom-container {
    background-color: var(--tab-border-bottom-color) !important;
}

/* rounded corner */
/* https://www.reddit.com/r/vscode/comments/1hgdath/i_like_my_rounded_corners_wanted_to_show_off_my/ */
/* https://gist.github.com/dunhamjared/897d0d0bdc6f77dfb02fc00166e24502 */

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-top>.tab-border-top-container,
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.selected.tab-border-top>.tab-border-top-container {
    height: 0;
}

.monaco-editor .sticky-widget {
    box-shadow: none;
}

.monaco-editor .scroll-decoration {
    box-shadow: none;
}

.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab.active {
    box-shadow: 0 6px 0 0;
}

.tabs-and-actions-container:has(.tab.active:first-child) {
    box-shadow: -20px 5px 0 0;
}

.editor-group-container {
    border-radius: 0.5rem;
    overflow: hidden;
}

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    border-radius: 5rem;
    border: none;
}

.titlebar-center,
.titlebar-right {
    opacity: 0;
    transition: all 0.15s;
}

.titlebar-center:hover,
.titlebar-right:hover {
    opacity: 1;
    pointer-events: all;
}

li.action-item.icon.checked,
li.action-item.icon:hover {
    opacity: 1;
}

li.action-item.icon {
    transition: all 0.15s;
    opacity: 0.2;
}

.monaco-pane-view .pane>.pane-header {
    padding: 0 6px;
    border-radius: 5px;
    margin: 1px 5px 0;
}

.monaco-workbench .part.sidebar>.title {
    background: transparent;
    padding: 0;
    border-radius: .5rem;
}

.monaco-workbench .pane-composite-part>.header-or-footer>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item.checked .active-item-indicator:before,
.monaco-workbench .pane-composite-part>.header-or-footer>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item:focus .active-item-indicator:before,
.monaco-workbench .pane-composite-part>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item.checked .active-item-indicator:before,
.monaco-workbench .pane-composite-part>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item:focus .active-item-indicator:before {
    border-top-width: 1px;
}

div#terminal {
    border-radius: .75rem;
    overflow: hidden;
}

.monaco-workbench .pane-body.integrated-terminal .terminal-split-pane {
    border-radius: 0.5rem;
    overflow: hidden;
}
