.monaco-editor .scroll-decoration {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .75) !important;
    top: -6px !important;
}

.part.sidebar {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .25);
}

/* sidebar top shadow */
.monaco-scrollable-element>.shadow.top {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .75) !important;
    top: -3px !important;
}

/* sidebar title */
.composite.title {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-items: center !important;
}

.composite.title h2 {
    font-weight: bold !important;
    font-size: 12px !important;
    text-transform: uppercase;
}

/* scroll bars */
.scrollbar.vertical .slider {
    position: absolute !important;
    right: 5px !important;
    width: 4px !important;
    background: #343a51 !important;
    left: auto !important;
    border-radius: 3px;
}

.scrollbar.horizontal .slider {
    position: absolute !important;
    bottom: 5px !important;
    height: 4px !important;
    background: #343a51 !important;
    top: auto !important;
    border-radius: 3px;
}

/* hide scrollbar marks  */
.decorationsOverviewRuler {
    display: none !important;
}

.codicon-toolbar-more,
.codicon-word-wrap {
    display: block !important;
}

/* central command palette */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    z-index: 100;
    border: solid 2px #ffffff2d !important;
    border-radius: 6px !important;
    box-shadow: none !important;
}

.watermark-box {
    display: none !important;
}

/* tooltip rounded corner */
.monaco-editor-hover,
.monaco-hover {
    border-radius: 6px !important;
}

/* hide title bar search icon */
.search-icon {
    display: none !important;
}

.codicon-search::before {
    display: none !important;
}

.codicon-arrow-right, .codicon-arrow-left {
    display: none !important;
}

.titlebar-right > * {
    display: none !important;
}

/* https://github.com/be5invis/vscode-custom-css/discussions/197 */
/* make hovered non-active tabs' backgrounds get slightly lighter on hover. */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab:hover,
.monaco-workbench .part.editor > .content .editor-group-container.active > .title .tabs-container > .tab:hover {
    background-color: rgba(255, 255, 255, 0.04) !important;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab:first-child {
    border-top-left-radius: 0;
}

/* actually make the selected tab's background different than others. */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.active {
    background-color: rgba(255, 255, 255, 0.06) !important;
}

/* make hovered active tab's background get slightly lighter on hover. */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.active:hover,
.monaco-workbench .part.editor > .content .editor-group-container.active > .title .tabs-container > .tab.active:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* ensure that a selected tab's bottom-border stays the same color when we hover
 * on it (it was going from yellow accent color to gray, super ugly).
 */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.active.tab-border-bottom > .tab-border-bottom-container {
    background-color: var(--tab-border-bottom-color) !important;
}
