@import "mocha.css";

* {
    font-family: Nerd Font;
    font-size: 14px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    margin: 5px 0px;
}

#workspaces button {
    border: none;
    border-radius: 0;
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: transparent;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    padding: 0.4rem;
}

#mode {
    margin: 5px;
    padding: 0.5rem 0.8rem;
    border-bottom: 3px solid #ffffff;
}

#scratchpad {
    margin: 5px;
    padding: 0.5rem 0.8rem;
    background: rgba(0, 0, 0, 0.2);
}

#tray,
#backlight,
#clock,
#battery,
#pulseaudio.output,
#cpu,
#memory,
#network,
#bluetooth,
#privacy {
    background-color: alpha(@surface0, 0.6);
    padding: 0.5rem 0.8rem;
    margin: 5px 0;
}

#clock {
    color: @blue;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#privacy-item.audio-in {
    color: @flamingo;
}

#privacy-item.screenshare {
    color: @lavender;
}

#pulseaudio.output {
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}

#pulseaudio.input {
    background-color: alpha(@surface0, 0.6);
    color: @flamingo;
    margin: 5px 0;
    padding: 0.5rem 0.8rem 0.5rem 0px;
}

#tray {
    margin-right: 1rem;
    border-radius: 1rem;
}
