/* --- Hide small pin icon on shortcuts --- */
@-moz-document url("about:home"), url("about:newtab") {
    .top-site-inner .icon-pin-small {
        display: none !important;
    }
}

/*  Remove text from homepage/newtab website shortcuts. */
/*  Check if pinned by using context menu.              */
@-moz-document url("about:home"),
url("about:newtab") {
    .top-site-outer {
        vertical-align: middle !important;
    }

    .top-site-inner .title {
        display: none !important;
    }
}
