include "configs/input.kdl"
include "configs/binds.kdl"
include "configs/layout.kdl"
include "configs/window.kdl"
include "configs/others.kdl"

include "configs/sidebar.kdl"

// dms
include optional=true "configs/dms.kdl"
include optional=true "dms/outputs.kdl"
