config-notification {
    disable-failed
}

// Show wallpaper on overview
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

binds {
    Ctrl+Space hotkey-overlay-title="Application Launcher" {
      spawn "dms" "ipc" "call" "spotlight" "toggle";
    }

    Mod+V hotkey-overlay-title="Clipboard Manager" {
      spawn "dms" "ipc" "call" "clipboard" "toggle";
    }

    Ctrl+Mod+L hotkey-overlay-title="Lock Screen" {
      spawn "dms" "ipc" "call" "lock" "lock";
    }

    XF86AudioRaiseVolume allow-when-locked=true {
      spawn "dms" "ipc" "call" "audio" "increment" "5";
    }

    XF86AudioLowerVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "decrement" "5";
    }

    XF86AudioMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "mute";
    }

    XF86AudioMicMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "micmute";
    }

    XF86MonBrightnessUp allow-when-locked=true {
        spawn-sh "dms ipc call brightness increment 5 \"$(~/.config/niri/scripts/dms-focused-output)\"";
    }

    XF86MonBrightnessDown allow-when-locked=true {
        spawn-sh "dms ipc call brightness decrement 5 \"$(~/.config/niri/scripts/dms-focused-output)\"";
    }
}
