/* Extracted from gwfox/chrome/userChrome.css */
:root {
    --bg0: #007aff;
    --bg1: light-dark(#f5f6f6, #383838);
    --bg2: light-dark(#fff, #454545);
    --bg3: light-dark(rgba(50, 50, 50, 0.1), rgba(225, 225, 225, 0.1));
    --bg4: light-dark(rgba(255, 255, 255, 0.75), rgba(15, 15, 12, 0.75));
    --bs1: 0 5px 15px rgba(0, 0, 0, 0.2), 0 0 0 0.5px rgba(0, 0, 0, 0.15);
    --bs2:
        0 5px 15px rgba(0, 0, 0, 0.25), inset 0 0 0 0.5px rgba(0, 0, 0, 0.78),
        0 0 0 0.5px rgba(0, 0, 0, 0.2);
    --br1: 6px;
    --br2: 8px;

    @media (-moz-mac-tahoe-theme) {
        --bs1:
            0 5px 15px rgba(0, 0, 0, 0.2),
            inset 0 0 0 0.5px rgba(0, 0, 0, 0.34),
            0 0 0 0.5px rgba(0, 0, 0, 0.12);
    }
    @media (-moz-platform: windows) {
        --bs1: 0 45px 65px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.17);
        --bs2:
            0 45px 65px rgba(0, 0, 0, 0.45), 0 0 0 1px rgba(255, 255, 255, 0.15);
    }
    @media (-moz-platform: linux) {
        --bg1: light-dark(#f5f6f6, #28282c);
        --bg2: light-dark(#fff, #36363a);
        --bs1: 0 2px 15px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.058);
        @media -moz-pref("gwfox.bms") {
            --bg1: light-dark(
                rgba(245, 245, 246, 0.76),
                rgba(40, 40, 44, 0.76)
            );
        }
    }
}

.findbar-container {
    background-color: var(--bg4) !important;
    backdrop-filter: blur(30px) !important;
    box-shadow: var(--bs1) !important;
    @media (-moz-platform: windows) {
        box-shadow:
            0 15px 25px rgba(0, 0, 0, 0.25),
            0 0 0 0.5px rgba(0, 0, 0, 0.15) !important;
    }
    @media (-moz-platform: linux) {
        @media not -moz-pref("gwfox.bms") {
            background-color: var(--bg2) !important;
            backdrop-filter: blur(0px) !important;
        }
    }
}

@media (prefers-color-scheme: dark) {
    @media not (-moz-platform: linux) {
        .findbar-container {
            outline: 1px solid rgba(235, 235, 235, 0.2) !important;
            outline-offset: -1.5px !important;
            box-shadow: var(--bs2) !important;
            @media (-moz-platform: windows) {
                box-shadow:
                    0 15px 25px rgba(0, 0, 0, 0.25),
                    0 0 0 0.5px rgba(0, 0, 0, 0.5) !important;
            }
        }
    }

    @media (-moz-platform: linux) {
        .findbar-container {
            border: 1px solid rgba(255, 255, 255, 0.06) !important;
        }
    }
}

findbar {
    position: absolute !important;
    top: 3px;
    right: -8px;
    width: 100% !important;
    height: 90px !important;
    border: none !important;
    background: none !important;
    flex-direction: row-reverse;
    white-space: nowrap;
    pointer-events: none;
    animation-name: slide-in;
    animation-duration: 350ms;
    &:is([hidden]) {
        animation-name: slide-out;
    }
    checkbox {
        height: 24px;
        width: 24px;
        .checkbox-icon {
            display: block !important;
            -moz-context-properties: fill, fill-opacity;
            fill: currentColor;
            fill-opacity: 0.4;
            .findbar-highlight & {
                content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='context-fill' fill-opacity='context-fill-opacity' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 4.079 10.726 C 3.887 10.539 3.822 10.265 3.907 10.013 L 4.631 7.885 L 9.065 3.552 C 9.529 3.1 10.281 3.1 10.744 3.552 L 11.416 4.207 C 11.879 4.66 11.879 5.398 11.416 5.85 L 6.983 10.183 L 4.809 10.893 C 4.734 10.917 4.658 10.929 4.582 10.929 C 4.396 10.929 4.215 10.858 4.079 10.726 Z M 8.95 4.759 L 10.182 5.964 L 10.856 5.304 C 11.01 5.153 11.01 4.907 10.856 4.757 L 10.184 4.1 C 10.03 3.949 9.778 3.949 9.625 4.1 L 8.95 4.759 Z M 4.707 10.111 L 6.555 9.509 L 9.621 6.511 L 8.389 5.307 L 5.323 8.304 L 4.707 10.111 Z M 12.615 12.095 L 11.478 12.434 C 10.917 12.603 10.315 12.633 9.739 12.52 L 8.42 12.261 C 7.818 12.144 7.185 12.227 6.638 12.494 C 6.235 12.692 5.804 12.787 5.376 12.787 C 4.645 12.787 3.926 12.508 3.384 11.98 L 3.912 11.4 L 3.944 11.432 C 4.561 12.036 5.502 12.185 6.283 11.803 C 6.988 11.46 7.803 11.352 8.575 11.503 L 9.894 11.762 C 10.341 11.85 10.809 11.826 11.247 11.696 L 12.383 11.356 L 12.615 12.095 Z'/%3E%3C/svg%3E");
            }
            .findbar-case-sensitive & {
                content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='context-fill' fill-opacity='context-fill-opacity' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 7.329 11.635 L 8.515 11.635 L 5.909 4.177 L 4.485 4.177 L 1.865 11.636 L 3.003 11.636 L 3.62 9.563 L 6.716 9.563 L 7.329 11.635 Z M 3.891 8.612 L 5.173 5.022 L 6.44 8.612 L 3.891 8.612 Z M 13.537 10.405 L 13.537 7.889 C 13.537 6.742 12.993 6.043 11.519 6.043 C 10.818 6.053 10.123 6.18 9.474 6.419 L 9.676 7.116 C 10.206 6.944 10.762 6.846 11.325 6.826 C 12.173 6.826 12.409 7.137 12.409 7.931 L 12.409 8.416 L 11.663 8.416 C 9.955 8.416 8.968 8.976 8.968 10.156 C 8.923 11.127 9.844 11.912 10.918 11.815 C 11.591 11.841 12.223 11.523 12.546 10.991 C 12.758 11.494 13.296 11.822 13.893 11.815 L 14.136 11.148 C 13.759 11.07 13.503 10.753 13.537 10.405 Z M 11.159 11.095 C 10.532 11.155 10.009 10.664 10.104 10.102 C 10.104 9.35 10.672 9.052 11.797 9.052 L 12.406 9.052 L 12.406 10.238 C 12.058 10.813 11.79 11.095 11.159 11.095 Z'/%3E%3C/svg%3E");
            }
            .findbar-entire-word & {
                content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='context-fill' fill-opacity='context-fill-opacity' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 6.064 10.711 L 6.064 10.055 L 6.01 10.055 C 5.855 10.311 5.646 10.514 5.382 10.663 C 5.12 10.81 4.821 10.885 4.486 10.885 C 3.901 10.885 3.44 10.721 3.106 10.392 C 2.77 10.064 2.603 9.616 2.603 9.05 C 2.603 8.509 2.798 8.068 3.187 7.726 C 3.574 7.386 4.075 7.214 4.683 7.214 C 4.958 7.214 5.211 7.237 5.445 7.282 C 5.677 7.327 5.879 7.402 6.046 7.505 L 6.046 7.234 C 6.046 6.887 5.935 6.61 5.715 6.403 C 5.494 6.196 5.19 6.094 4.811 6.094 C 4.557 6.094 4.321 6.152 4.102 6.267 C 3.88 6.383 3.691 6.551 3.537 6.77 L 2.765 6.152 C 2.992 5.803 3.279 5.539 3.627 5.359 C 3.973 5.179 4.373 5.089 4.829 5.089 C 5.568 5.089 6.136 5.279 6.531 5.66 C 6.925 6.041 7.122 6.591 7.122 7.31 L 7.122 10.711 L 6.064 10.711 Z M 4.882 8.122 C 4.498 8.122 4.205 8.202 4.003 8.364 C 3.799 8.523 3.699 8.753 3.699 9.05 C 3.699 9.307 3.788 9.516 3.968 9.676 C 4.147 9.839 4.378 9.92 4.665 9.92 C 5.048 9.92 5.373 9.774 5.643 9.484 C 5.911 9.195 6.046 8.842 6.046 8.432 C 5.879 8.33 5.687 8.249 5.472 8.2 C 5.257 8.149 5.061 8.122 4.882 8.122 Z M 8.197 10.711 L 8.197 2.964 L 9.309 2.964 L 9.253 5.133 L 9.255 5.92 L 9.309 5.92 C 9.335 5.845 9.431 5.668 9.74 5.428 C 10.049 5.188 10.384 5.032 10.923 5.032 C 11.687 5.032 12.292 5.328 12.733 5.92 C 13.176 6.513 13.397 7.195 13.397 7.967 C 13.397 8.74 13.179 9.419 12.742 10.007 C 12.307 10.591 11.699 10.885 10.923 10.885 C 10.433 10.885 10.058 10.769 9.803 10.536 C 9.544 10.306 9.381 10.125 9.309 9.995 L 9.255 9.995 L 9.255 10.711 L 8.197 10.711 Z M 10.762 6.113 C 10.283 6.113 9.912 6.303 9.65 6.682 C 9.385 7.063 9.255 7.486 9.255 7.948 C 9.255 8.425 9.385 8.85 9.65 9.224 C 9.912 9.597 10.283 9.785 10.762 9.785 C 11.239 9.785 11.611 9.597 11.883 9.224 C 12.151 8.85 12.283 8.425 12.283 7.948 C 12.283 7.473 12.151 7.047 11.883 6.673 C 11.611 6.299 11.239 6.113 10.762 6.113 Z M 3.819 12.536 C 3.819 12.26 4.043 12.036 4.319 12.036 L 11.319 12.036 C 11.595 12.036 11.819 12.26 11.819 12.536 C 11.819 12.812 11.595 13.036 11.319 13.036 L 4.319 13.036 C 4.043 13.036 3.819 12.812 3.819 12.536 Z'/%3E%3C/svg%3E");
            }
            .findbar-match-diacritics & {
                content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='context-fill' fill-opacity='context-fill-opacity' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 4.832 6.098 L 4.641 6.091 C 3.888 6.077 3.291 6.213 2.852 6.521 C 2.626 6.68 2.571 6.991 2.73 7.217 C 2.889 7.443 3.2 7.498 3.426 7.339 C 3.69 7.154 4.141 7.064 4.782 7.096 C 5.602 7.137 5.966 7.502 5.973 8.24 C 5.334 8.072 4.702 8.025 4.08 8.1 C 2.766 8.259 1.974 9.113 1.974 10.263 C 1.974 11.567 2.915 12.43 4.141 12.43 C 4.706 12.43 5.315 12.237 5.973 11.86 L 5.974 11.93 L 5.979 11.998 C 6.012 12.242 6.221 12.43 6.474 12.43 L 6.542 12.425 C 6.783 12.392 6.97 12.187 6.974 11.938 L 6.974 8.263 L 6.971 8.126 C 6.917 6.914 6.139 6.162 4.832 6.097 Z M 5.973 9.306 L 5.973 10.699 L 5.808 10.812 C 5.153 11.245 4.594 11.455 4.14 11.455 C 3.448 11.455 2.973 11.019 2.973 10.288 C 2.973 9.654 3.378 9.217 4.2 9.118 C 4.71 9.056 5.232 9.098 5.771 9.246 Z M 4.201 5.215 L 4.971 5.215 L 6.271 3.895 L 5.031 3.895 Z M 13.318 10.779 L 13.318 7.815 C 13.318 6.463 12.676 5.64 10.936 5.64 C 10.107 5.653 9.287 5.802 8.521 6.083 L 8.759 6.904 C 9.386 6.702 10.041 6.587 10.707 6.562 C 11.708 6.562 11.986 6.93 11.986 7.865 L 11.986 8.437 L 11.106 8.437 C 9.088 8.437 7.924 9.096 7.924 10.486 C 7.87 11.63 8.957 12.554 10.226 12.441 C 11.021 12.472 11.766 12.096 12.149 11.47 C 12.399 12.062 13.034 12.449 13.739 12.441 L 14.026 11.655 C 13.58 11.562 13.277 11.189 13.318 10.779 Z M 10.51 11.591 C 9.769 11.663 9.152 11.085 9.263 10.422 C 9.263 9.537 9.935 9.186 11.265 9.186 L 11.982 9.186 L 11.982 10.583 C 11.571 11.26 11.255 11.591 10.51 11.591 Z'/%3E%3C/svg%3E");
            }
        }
        &:hover .checkbox-icon {
            fill-opacity: 0.8;
        }
        &[checked] .checkbox-icon {
            fill-opacity: 1;
        }
    }
    &::after {
        content: "";
        display: flex;
        flex-grow: 100;
    }
    .checkbox-check,
    .checkbox-label,
    .findbar-find-status {
        display: none;
    }
    @media (min-width: 721px) and (max-width: 796px) {
        .found-matches {
            display: none;
        }
    }
}

.findbar-highlight,
.findbar-case-sensitive,
.findbar-entire-word,
.findbar-closebutton,
.findbar-match-diacritics {
    position: fixed;
    right: 18px;
}

.findbar-highlight {
    right: 93px;
}

.findbar-case-sensitive {
    right: 110px;
}

.findbar-entire-word {
    right: 128px;
}

.findbar-match-diacritics {
    right: 146px;
}

.findbar-closebutton {
    margin-top: 7px !important;
    background: none !important;
    pointer-events: auto;
    z-index: 1;
}

.findbar-closebutton > image {
    padding: 5px;
    max-height: 24px !important;
    max-width: 24px !important;
}

.findbar-closebutton:hover > image {
    background: var(--button-hover-bgcolor);
    border-radius: 5px;
}

.findbar-closebutton:active > image {
    background: var(--button-active-bgcolor);
}

.findbar-container {
    height: 42px !important;
    padding-inline-start: 10px;
    margin-right: 25px;
    pointer-events: auto;
    overflow-inline: visible !important;
    flex-direction: row-reverse;
    border-radius: var(--br2) !important;
    @media (-moz-mac-tahoe-theme) or (-moz-gtk-theme-family: adwaita) or (-moz-gtk-theme-family: yaru) {
        border-radius: 12px !important;
    }
}

.findbar-container > hbox {
    margin-right: 30px;
}

.findbar-textbox {
    width: 17em !important;
    background: rgba(165, 165, 165, 0.1) !important;
    outline-style: solid !important;
    outline-color: transparent !important;
    outline-width: 5px !important;
    border-radius: 6px !important;
    padding-inline-start: 22px !important;
    padding-inline-end: 75px !important;
    background-image: url(chrome://global/skin/icons/search-glass.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 12px !important;
    background-position: left 5px bottom 5px !important;
    -moz-context-properties: fill, fill-opacity;
    fill: currentColor;
    fill-opacity: 0.65;
}

.findbar-textbox[focused],
.findbar-textbox:focus {
    outline-color: var(--focus-outline-color) !important;
    outline-width: 3px !important;
    transition: all 0.3s cubic-bezier(1, 0, 0, 1) !important;
    box-shadow: none !important;
}

@media (-moz-platform: windows) {
    .findbar-container {
        box-shadow:
            0 15px 25px rgba(0, 0, 0, 0.25),
            0 0 0 1px rgba(0, 0, 0, 0.17) !important;
    }

    @media (prefers-color-scheme: dark) {
        .findbar-container {
            outline: none !important;
        }
        .findbar-container {
            box-shadow:
                0 15px 25px rgba(0, 0, 0, 0.25),
                0 0 0 1px rgba(255, 255, 255, 0.15) !important;
        }
    }
}
