include "configs/input.kdl"
include "configs/output.kdl"
include "configs/binds.kdl"
include "configs/layout.kdl"
include "configs/window.kdl"
include "configs/others.kdl"

include "configs/dms.kdl"
include "dms/outputs.kdl"
